#exb
#ignore everything in /client/
/client/*
# But keep everything in /your-extensions
!/client/your-extensions
/client/your-extensions/*
!/client/your-extensions/**
!/client/.gitkeep

#ignore everything in /server/
/server/*
#include everything in /Public
!/server/public
/server/public/*
!/server/public/**
/server/public/signin-info.json

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist
dist-ssr
coverage
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.tsbuildinfo